body{
font-family: 'Poiret One', cursive;
overflow: hidden;
background: black;
}
.container{

    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.digitalClock{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    color: white;
    background: rgba(0, 0, 0, 0.1);
}
.digitalClock h1 {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}
